{% block title %}
<p><h1> search page </h1></p>
<p><h3> Find products to buy </h3></p>
{% endblock %}


<button onClick="window.location.href='/mainpage'"> Back to Main Page </button>
<p> <button onClick="window.location.href='/wishlist_new';"> Write a Post</button> </p>

{% block content %}

<div class="product">

	<form action="" method="post">

		{% csrf_token %}
		{% for field in search_form %}
        
			<div class="form-group {% if field.errors %}has-error{% endif %}">
				{{ field.label_tag }}
				{{ field }}
				{% if field.errors %}
                
					{% for error in field.errors %}
                    
					<span class="help-block">{{ error }}</span>
                    
                    {% endfor %}
                    
				{% endif %}
            </div>
            
		{% endfor %}

		{% if signup_form.non_field_errors %}
        
			{% for error in search_form.non_field_errors %}

			<p class="text-danger"><b>{{ error }}</b></p>

			{% endfor %}

		{% endif %}

		<button class="btn btn-primary btn-block">Search</button>

	</form></div>

{% endblock %}


<table align=center cellpadding=0 cellspacing=2 border=1 bordercolor=222222>
    <tr>
    <td> # </td>
    <td> Product Wisher </td>
    <td> Product Name </td>
    <td> Price </td>
    <td> Details ... </td>
    </tr>

    {% for post in posts %}
        <tr>
        <td> {{ forloop.counter0 }}</td>
        <td> {{ post.username }} </td>
        <td> {{ post.pname }} </td>
        <td> {{ post.price }} </td>
        <td> <a href="{% url 'wishlist_detail' pk=post.pid %}"> Details... </a> </td>
        </tr>
    {% endfor %}

</table>
